@model Forum.Models.userRoleModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

</head>
<body>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
    <form asp-action="addRole">
        <div asp-validation-summary="ModelOnly"></div>
        <input hidden asp-for="userId" />
        <div>
            <label asp-for="userName"></label>
            <input asp-for="userName" />
            <span asp-validation-for="userName"></span>
        </div>
        <div>
            <p> Aktualne role urzytkownika : </p>
            <p>@Html.DisplayFor(model => model.userRoles) </p> 
        </div>
        <div>
            <label asp-for="userRoleToAdd"></label>
            <select asp-for="userRoleToAdd">
                <option value="Administrator">Administrator</option>
                <option value="User">User</option>
               <option value="Moderator">Moderator</option>
            </select>
            <span asp-validation-for="userRoleToAdd"></span>

        </div>
        <div>
            <input type="submit" value="save" />
        </div>
    </form>
</body>
</html>