@model Microsoft.AspNetCore.Identity.IdentityUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    @Html.DisplayFor(model => model.Id);
    @Html.DisplayFor(model => model.NormalizedEmail);
    @Html.DisplayFor(model => model.UserName);
</head>
<body>
</body>
</html>
