@model Forum.Models.TematModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>TematModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TematID" />
            <div class="form-group">
                <label asp-for="Temat" class="control-label"></label>
                <input asp-for="Temat" class="form-control" />
                <span asp-validation-for="Temat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TematImg" class="control-label"></label>
                <input asp-for="TematImg" class="form-control" />
                <span asp-validation-for="TematImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tworca" class="control-label"></label>
                <input asp-for="Tworca" class="form-control" />
                <span asp-validation-for="Tworca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataDodania" class="control-label"></label>
                <input asp-for="DataDodania" class="form-control" />
                <span asp-validation-for="DataDodania" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
